<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :homework_id %>

  <% if !@assignment.criterio1.blank? %>
      <%= f.label :p1, @assignment.criterio1 %>
      <%= f.select(:p1, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p1)) %>
  <% end %>
  <% if !@assignment.criterio2.blank? %>
      <%= f.label :p2, @assignment.criterio2 %>
      <%= f.select(:p2, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p2)) %>
  <% end %>
  <% if !@assignment.criterio3.blank? %>
      <%= f.label :p3, @assignment.criterio3 %>
      <%= f.select(:p3, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p3)) %>
  <% end %>
  <% if !@assignment.criterio4.blank? %>
      <%= f.label :p4, @assignment.criterio4 %>
      <%= f.select(:p4, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p4)) %>
  <% end %>
  <% if !@assignment.criterio5.blank? %>
      <%= f.label :p5, @assignment.criterio5 %>
      <%= f.select(:p5, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p5)) %>
  <% end %>
  <% if !@assignment.criterio6.blank? %>
      <%= f.label :p6, @assignment.criterio6 %>
      <%= f.select(:p6, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p6)) %>
  <% end %>
  <% if !@assignment.criterio7.blank? %>
      <%= f.label :p7, @assignment.criterio7 %>
      <%= f.select(:p7, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p7)) %>
  <% end %>
  <% if !@assignment.criterio8.blank? %>
      <%= f.label :p8, @assignment.criterio8 %>
      <%= f.select(:p8, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p8)) %>
  <% end %>
  <% if !@assignment.criterio9.blank? %>
      <%= f.label :p9, @assignment.criterio9 %>
      <%= f.select(:p9, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p9)) %>
  <% end %>
  <% if !@assignment.criterio10.blank? %>
      <%= f.label :p10, @assignment.criterio10 %>
      <%= f.select(:p10, options_for_select([['0 (Per niente)', 0], ['1 (Poco)', 1], ['2 (Abbastanza)', 2], ['3 (Molto)', 3]], @grade.p10)) %>
  <% end %>

  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit "SALVA", class: 'primary button' %>
  </div>
<% end %>
