<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<div class="row">

<h1>Modifica valutazione</h1>

<p><%= link_to 'Visualizza il lavoro fatto dal tuo compagno', @homework.url, class: 'hollow primary button', target: '_blank' %>
  quindi procedi a valutarlo secondo questi criteri:
</p>

<%= render 'form' %>

<p>&nbsp;</p>

</div>

<%= render partial: "pages/footer" %>