<p id="notice"><%= notice %></p>

<p>
  <strong>Homework:</strong>
  <%= @grade.homework_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @grade.user_id %>
</p>

<p>
  <strong>P1:</strong>
  <%= @grade.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @grade.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @grade.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @grade.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @grade.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @grade.p6 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @grade.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @grade.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @grade.p9 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @grade.p10 %>
</p>

<p>
  <strong>Note:</strong>
  <%= @grade.note %>
</p>

<p>
  <strong>Voto:</strong>
  <%= @grade.voto %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
