<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<div class="row">

<h1>Valutazione ricevuta</h1>
</p>

  <ol>
    <% if !@assignment.criterio1.blank? %><li><%= @assignment.criterio1 %>: <b><%= @grade.p1 %></b></li><% end %>
    <% if !@assignment.criterio2.blank? %><li><%= @assignment.criterio2 %>: <b><%= @grade.p2 %></b></li><% end %>
    <% if !@assignment.criterio3.blank? %><li><%= @assignment.criterio3 %>: <b><%= @grade.p3 %></b></li><% end %>
    <% if !@assignment.criterio4.blank? %><li><%= @assignment.criterio4 %>: <b><%= @grade.p4 %></b></li><% end %>
    <% if !@assignment.criterio5.blank? %><li><%= @assignment.criterio5 %>: <b><%= @grade.p5 %></b></li><% end %>
    <% if !@assignment.criterio6.blank? %><li><%= @assignment.criterio6 %>: <b><%= @grade.p6 %></b></li><% end %>
    <% if !@assignment.criterio7.blank? %><li><%= @assignment.criterio7 %>: <b><%= @grade.p7 %></b></li><% end %>
    <% if !@assignment.criterio8.blank? %><li><%= @assignment.criterio8 %>: <b><%= @grade.p8 %></b></li><% end %>
    <% if !@assignment.criterio9.blank? %><li><%= @assignment.criterio9 %>: <b><%= @grade.p9 %></b></li><% end %>
    <% if !@assignment.criterio10.blank? %><li><%= @assignment.criterio10 %>: <b><%= @grade.p10 %></b></li><% end %>
  </ol>

<p>
  <strong>Note:</strong>
  <%= @grade.note %>
</p>

<p>&nbsp;</p>

</div>

<%= render partial: "pages/footer" %>