<%= form_for @instance, html: { 'data-abide' => true, 'novalidate' => true } do |f| %>
    <%= render 'layouts/errori', object: @instance %>

  <%= f.hidden_field(:entity_id) %>

  <%
    properties = @entity.properties.order('ordine ASC')
    properties = properties.where(riservata: false) if !current_user.admin?
    properties.each do |property|

          field_id = "dato[#{ property.id }]"
          tipo = property.tipo

          if @instance
            dato = Datum.find_by instance_id: @instance.id, property_id: property.id
            valore = dato ? dato.valore : ''
          else
            valore = ''
          end

          # etichetta = label_tag field_id, property.nome
          br = '<br>'.html_safe
        %>
          <div class="small-12 columns field">
          <label><%=
            if property.obbligatorio
              "<b>#{ property.nome }</b>".html_safe
            else
              property.nome
            end
          %><%=
          case tipo
            when 'stringa'
              if property.obbligatorio?
                tag = text_field_tag field_id, valore, placeholder: property.placeholder, required: ''
                tag += "<span class='form-error'>Questo campo è obbligatorio.</span>".html_safe
              else
                tag = text_field_tag field_id, valore, placeholder: property.placeholder
              end

            when 'testo'
              if property.obbligatorio?
                tag = text_area_tag field_id, valore, placeholder: property.placeholder, required: ''
                tag += "<span class='form-error'>Questo campo è obbligatorio.</span>".html_safe
              else
                tag = text_area_tag field_id, valore, placeholder: property.placeholder
              end

            when 'intero'
              if property.obbligatorio?
                tag = number_field_tag field_id, valore, step: 1, pattern: 'number', placeholder: property.placeholder, required: ''
              else
                tag = number_field_tag field_id, valore, step: 1, pattern: 'number', placeholder: property.placeholder
              end
              tag += "<span class='form-error'>Inserisci un numero valido.</span>".html_safe

            when 'email'
              if property.obbligatorio?
                tag = email_field_tag field_id, valore, pattern: 'email', placeholder: property.placeholder, required: ''
              else
                tag = email_field_tag field_id, valore, pattern: 'email', placeholder: property.placeholder
              end
              tag += "<span class='form-error'>Inserisci un indirizzo email valido.</span>".html_safe

            when 'telefono'
              if property.obbligatorio?
                tag = telephone_field_tag field_id, valore, placeholder: property.placeholder, required: ''
                tag += "<span class='form-error'>Inserisci un numero di telefono valido.</span>".html_safe
              else
                tag = telephone_field_tag field_id, valore, placeholder: property.placeholder
              end

            when 'url'
              if property.obbligatorio?
                tag = url_field_tag field_id, valore, pattern: 'url', placeholder: property.placeholder, required: ''
              else
                tag = url_field_tag field_id, valore, pattern: 'url', placeholder: property.placeholder
              end
              tag += "<span class='form-error'>Inserisci un url valido.</span>".html_safe

            when 'check' # check_box_tag(name, value = "1", checked = false, options = {})
              tag = '&nbsp;&nbsp;'.html_safe
              if property.obbligatorio?
                tag += check_box_tag field_id, '1', valore=='1' ? true : false, required: ''
                tag += "<span class='form-error'>Questo campo dev'essere confermato.</span>".html_safe
              else
                tag = check_box_tag field_id, '1', valore=='1' ? true : false
              end
              #<fieldset class="large-6 columns">
              #<legend>Check these out</legend>
              #<input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
              #<input id="checkbox2" type="checkbox" required><label for="checkbox2">Checkbox 2</label>
              #<input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
              #</fieldset>

            when 'sesso' # radio_button_tag(name, value, checked = false, options = {})
              tag = br + (radio_button_tag field_id, 'm', valore=='m' ? true : false, required: '') + 'maschio&nbsp;&nbsp;&nbsp;'.html_safe +
                  (radio_button_tag field_id, 'f', valore=='f' ? true : false, required: '') + 'femmina'
              tag += "<span class='form-error'>Seleziona il genere.</span>".html_safe

            when 'lista'
              valori = property.condizioni.split(',')

              if valori.count > 5
                if property.obbligatorio?
                  tag = select_tag field_id, options_for_select(valori, valore), include_blank: true, required: ''
                  tag+= "<span class='form-error'>Seleziona un valore dalla lista.</span>".html_safe
                else
                  tag = select_tag field_id, options_for_select(valori, valore), include_blank: true
                end
              else
                if property.obbligatorio?
                  tag = br
                  valori.each do |v|
                    tag+= ( radio_button_tag field_id, v, valore==v ? true : false, required: '' ) + v.html_safe + '&nbsp;&nbsp;&nbsp;'.html_safe
                  end
                  tag+= "<span class='form-error'>Seleziona un valore.</span>".html_safe
                else
                  tag = br
                  valori.each do |v|
                    tag+= ( radio_button_tag field_id, v, valore==v ? true : false ) + v.html_safe + '&nbsp;&nbsp;&nbsp;'.html_safe
                  end
                end
              end

            when 'select'
              parametri = property.condizioni.split(',')
              tabella = parametri[0]
              filtro = parametri[1] # all = tutti / # user = solo quelli inseriti dall'utente corrente

              ent = Entity.find_by! slug: tabella
              # prop = Property.find_by! entity_id: ent.id, nome: nome

              # instces = Instance.where("entity_id = ?", ent.id)
              # instces = Instance.joins(:data).where("instances.entity_id = ? AND data.property_id = ?", ent.id, prop.id).order('data.valore ASC')
              if filtro == 'all' or current_user.admin?
                instces = ent.elenco
              elsif filtro == 'user'
                instces = ent.elenco.where("user_id = ?", current_user.id)
              end

              #Project.joins(:client)
              #    .select('projects.id,projects.name,clients.name as client_name')
              #    .first.client_name

              if instces.count > 5
                valori = []
                instces.each do |instce|
                  # valori.push [ instce.data.first.valore, instce.id ]
                  valori.push [ instce.label, instce.id ]
                end

                if property.obbligatorio?
                  tag = select_tag field_id, options_for_select(valori, valore), include_blank: true, required: ''
                  tag+= "<span class='form-error'>Seleziona un valore dalla lista.</span>".html_safe
                else
                  tag = select_tag field_id, options_for_select(valori, valore), include_blank: true
                end
              else
                valori = {}

                instces.each do |instce|
                  # valori[instce.id] = instce.data.first.valore
                  valori[instce.id] = instce.label
                end

                if property.obbligatorio?
                  tag = br
                  valori.each do |k, v|
                    tag+= ( radio_button_tag field_id, k, valore==k.to_s ? true : false, required: '' ) + v.html_safe + '&nbsp;&nbsp;&nbsp;'.html_safe
                  end
                  tag+= "<span class='form-error'>Seleziona un valore.</span>".html_safe
                else
                  tag = br
                  valori.each do |k, v|
                    tag+= ( radio_button_tag field_id, k, valore==k.to_s ? true : false ) + v.html_safe + '&nbsp;&nbsp;&nbsp;'.html_safe
                  end
                end
              end

            when 'data'
              if property.obbligatorio?
                tag = date_field_tag field_id, valore, required: ''
              else
                tag = date_field_tag field_id, valore
              end
              tag += "<span class='form-error'>Inserisci una data valida.</span>".html_safe

            else
              tag = '&nbsp<b>ATTENZIONE: Proprietà non valida!</b>'.html_safe
          end

          tag
        %>
        </label>
        <% if property.descrizione %><p class="help-text"><%= property.descrizione %></p><% end %>
        </div>

  <% end %>

  <% if current_user && current_user.admin? %>
      <hr>
      <div class="small-12 columns field">
        <label>Sezione
          <%= f.collection_select(:section_id, Section.all, :id, :titolo) %>
        </label>
      </div>
      <div class="small-12 columns field">
        <label>tags
          <%= f.text_field :tags %>
        </label>
      </div>
  <% end %>

  <div class="small-12 columns actions">
  <%= f.submit 'SALVA', class: 'button' %>
  </div>
<% end %>
