<%= form_for(@instance) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:entity_id) %>

  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.collection_select(:section_id, Section.all, :id, :titolo) %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>

  <% @entity.properties.each do |property| %>
        <%
          field_id = "dato[#{ property.id }]"

          if @instance
            dato = Datum.find_by instance_id: @instance.id, property_id: property.id
            valore = dato ? dato.valore : ''
          else
            valore = ''
          end
        %>

        <%= label_tag field_id, property.nome %><br>
        <%= text_field_tag field_id, valore %>

  <% end %>

  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
