<%= form_for @instance, html: { 'data-abide' => true, 'novalidate' => true } do |f| %>
  <% if @instance.errors.any? or (@validator and @validator.errors.any?) %>

     <div data-abide-error class="alert callout">
      <p><i class="fi-alert"></i> I dati inseriti non sono validi...</p>
      <ul>
      <% @instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:entity_id) %>

  <div class="small-12 columns field">
    <label>Sezione
      <%= f.collection_select(:section_id, Section.all, :id, :titolo) %>
    </label>
  </div>
  <div class="small-12 columns field">
    <label>tags
      <%= f.text_field :tags %>
    </label>
  </div>

  <% @entity.properties.each do |property| %>
        <%
          field_id = "dato[#{ property.id }]"
          tipo = property.tipo

          if @instance
            dato = Datum.find_by instance_id: @instance.id, property_id: property.id
            valore = dato ? dato.valore : ''
          else
            valore = ''
          end

          # etichetta = label_tag field_id, property.nome
          br = '<br>'.html_safe
        %>
          <div class="small-12 columns field">
          <label><%= property.nome %><%=
          case tipo
            when 'stringa'
              if property.obbligatorio?
                tag = text_field_tag field_id, valore, required: ''
                tag += "<span class='form-error'>Questo campo è obbligatorio.</span>".html_safe
              else
                tag = text_field_tag field_id, valore
              end

            when 'testo'
              if property.obbligatorio?
                tag = text_area_tag field_id, valore, required: ''
                tag += "<span class='form-error'>Questo campo è obbligatorio.</span>".html_safe
              else
                tag = text_area_tag field_id, valore
              end

            when 'email'
              if property.obbligatorio?
                tag = email_field_tag field_id, valore, pattern: 'email', required: ''
              else
                tag = email_field_tag field_id, valore, pattern: 'email'
              end
              tag += "<span class='form-error'>Inserire un indirizzo email valido.</span>".html_safe

            when 'telefono'
              if property.obbligatorio?
                tag = telephone_field_tag field_id, valore, required: ''
                tag += "<span class='form-error'>Questo campo è obbligatorio.</span>".html_safe
              else
                tag = telephone_field_tag field_id, valore
              end

            when 'url'
              if property.obbligatorio?
                tag = url_field_tag field_id, valore, pattern: 'url', required: ''
              else
                tag = url_field_tag field_id, valore, pattern: 'url'
              end
              tag += "<span class='form-error'>Inserire un url valido.</span>".html_safe

            when 'check' # check_box_tag(name, value = "1", checked = false, options = {})
              if property.obbligatorio?
                tag = check_box_tag field_id, '1', valore=='1' ? true : false, required: ''
                tag += "<span class='form-error'>Questo campo dev'essere confermato.</span>".html_safe
              else
                tag = check_box_tag field_id, '1', valore=='1' ? true : false
              end
              #<fieldset class="large-6 columns">
              #<legend>Check these out</legend>
              #<input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
              #<input id="checkbox2" type="checkbox" required><label for="checkbox2">Checkbox 2</label>
              #<input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
              #</fieldset>
            when 'lista'
              if property.obbligatorio?
                tag = select_tag field_id, options_for_select("opzione 1,opzione 2,opzione 3".split(','), valore), required: ''
                tag += "<span class='form-error'>Questo campo è obbligatorio.</span>".html_safe
              else
                tag = select_tag field_id, options_for_select("opzione 1,opzione 2,opzione 3".split(','), valore)
              end

            when 'intero'
              if property.obbligatorio?
                tag = number_field_tag field_id, valore, step: 1, pattern: 'number', required: ''
              else
                tag = number_field_tag field_id, valore, step: 1, pattern: 'number'
              end
              tag += "<span class='form-error'>Inserire un numero valido.</span>".html_safe

            when 'sesso' # radio_button_tag(name, value, checked = false, options = {})
              tag = br + (radio_button_tag field_id, 'm', valore=='m' ? true : false) + 'maschio' + br +
                    (radio_button_tag field_id, 'f', valore=='f' ? true : false) + 'femmina'

            when 'data'
              if property.obbligatorio?
                tag = date_field_tag field_id, valore, required: ''
              else
                tag = date_field_tag field_id, valore
              end
              tag += "<span class='form-error'>Inserire una data valida.</span>".html_safe
            else
              tag = '<b>Proprietà non valida!</b>'
          end

          tag
        %>
        </label>
        </div>

  <% end %>

  <div class="actions">
  <%= f.submit class: 'button' %>
  </div>
<% end %>
