<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<div class="row">
  <p>&nbsp;</p>

<h2>Modifica <%= @entity.titolo %></h2>

<%= render 'form' %>

<p>&nbsp;</p>
</div>

<%= render partial: "pages/footer" %>