<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<div class="row">

<h2><%= @entity.titolo %></h2>

<%= render 'form' %>

<p>&nbsp;</p>
</div>

<%= render partial: "pages/footer" %>