<h1>Listing Instances</h1>

<table>
  <thead>
    <tr>
      <th>Entity</th>
      <th>Section</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.entity.label %></td>
        <td><%= instance.section.titolo %></td>
        <td><%= instance.tags %></td>
        <td><%= link_to 'Show', instance %></td>
        <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
        <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nuovo/a #{ @entity.label }", new_instance_path + "?type=#{ @entity.label }", id: 12 if @entity %>
