<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<% if @entity.immagine.exists? %>
    <div style='background: #ffffff;'>
      <div class="collapse row">
        <div class="large-12 columns" style="position: relative; padding: 0em;">
          <div class='cropped-30'><img src='<%= @entity.immagine.url(:large) %>' class='cropped-image'></div>
        </div>
      </div>
    </div>
<% end %>

<%
  case @entity.tipo
    when 'iscrizione'
      bottone_new = 'Iscrivi'
    when 'ordine'
      bottone_new = 'Ordina'
    when 'oggetto'
      bottone_new = 'Nuovo'
    else
      bottone_new = 'Nuovo'
  end
%>

<div class="row">
  <p>&nbsp;</p>

<h2><%= @entity.plurale %>
<%= link_to bottone_new, new_instance_path + "?type=#{ @entity.slug }", class: 'large warning button float-right' if @entity %>
<% if @entity %><%= link_to 'Xlsx', instances_path(format: :xlsx) + "?type=#{ @entity.slug }", class: 'large primary button float-right' %><% end %>
</h2>
<span class="secondary label"><%= @numero %> elementi</span>

<table>
  <thead>
    <tr>
      <% if current_user.admin? %>
        <th>id
          <a href="/instances?type=<%= @entity.slug %>&sort_by=id&sort_dir=desc"><i class="fi-arrow-down float-right"></i></a>
          <a href="/instances?type=<%= @entity.slug %>&sort_by=id&sort_dir=asc"><i class="fi-arrow-up float-right"></i></a>
        </th>
      <% end %>
      <% @entity.plabel.each do |label| %>
        <th><%= label.nome %>
          <a href="/instances?type=<%= @entity.slug %>&sort_by=<%= label.id %>&sort_dir=desc"><i class="fi-arrow-down float-right"></i></a>
          <a href="/instances?type=<%= @entity.slug %>&sort_by=<%= label.id %>&sort_dir=asc"><i class="fi-arrow-up float-right"></i></a>
        </th>
      <% end %>
      <% if current_user.admin? %>
          <th>Creato da
            <a href="/instances?type=<%= @entity.slug %>&sort_by=utente&sort_dir=desc"><i class="fi-arrow-down float-right"></i></a>
            <a href="/instances?type=<%= @entity.slug %>&sort_by=utente&sort_dir=asc"><i class="fi-arrow-up float-right"></i></a>
          </th>
          <th>Appartenenza
            <a href="/instances?type=<%= @entity.slug %>&sort_by=appartenenza&sort_dir=desc"><i class="fi-arrow-down float-right"></i></a>
            <a href="/instances?type=<%= @entity.slug %>&sort_by=appartenenza&sort_dir=asc"><i class="fi-arrow-up float-right"></i></a>
          </th>
          <th>Ultima modifica
            <a href="/instances?type=<%= @entity.slug %>&sort_by=modifica&sort_dir=desc"><i class="fi-arrow-down float-right"></i></a>
            <a href="/instances?type=<%= @entity.slug %>&sort_by=modifica&sort_dir=asc"><i class="fi-arrow-up float-right"></i></a>
          </th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <%
        logger.debug instance.data.inspect
      %>
      <tr>
        <% if current_user.admin? %>
          <td class="testo_piccolo text-center"><%= instance.id %></td>
        <% end %>
        <% instance.alabel.each do |label| %>
          <% if current_user.admin? || instance.entity.stato == 1 %>
            <td><%= link_to label, edit_instance_path(instance) %></td>
          <% else %>
            <td><%= link_to label, instance_path(instance) %></td>
          <% end %>
        <% end %>
        <% if current_user.admin? %>
            <td class="testo_piccolo"><%= instance.user.email if instance.user %></td>
            <td class="testo_piccolo"><%= instance.user.appartenenza if instance.user %></td>
            <td class="testo_piccolo"><%= instance.updated_at.to_s(:data_ora) %></td>
        <% end %>
        <% if current_user.admin? || instance.entity.stato == 1 %>
          <td><%= link_to 'Elimina', instance, method: :delete, data: { confirm: 'Are you sure?' }, class: 'small alert button' %></td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <p>&nbsp;</p>
</div>

<div class="text-center">
  <%= will_paginate @instances, renderer: FoundationPagination::Rails %>
</div>

<div class="row small-12 columns">
  <p>&nbsp;</p>
  <% if @entity.prezzo > 0 %>
    <div class="warning callout" data-closable="scale-out-up">
      <h2>Informazioni per il pagamento</h2>
      <p>Totale da versare: &euro; <%= number_to_currency @paganti*@entity.prezzo, locale: :it, unit: '' %></p>
      <p><%= simple_format @entity.testo_pagamento %></p>
      <% if @entity.caparra > 0 %><p>Si ricorda che la caparra non rimborsabile ammonta a &euro; <%= number_to_currency @paganti*@entity.caparra, locale: :it, unit: '' %> </p><% end %>

      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>

<%= render partial: "pages/footer" %>