<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<div class="row">
  <p>&nbsp;</p>

<h2><%= @entity.plurale %>
<%= link_to "Nuovo", new_instance_path + "?type=#{ @entity.slug }", class: 'large warning button float-right' if @entity %>
</h2>

<table>
  <thead>
    <tr>
      <th><%= @entity.label %></th>
      <th></th>
      <% if current_user.admin? %>
          <th>Utente</th>
          <th>Ultima modifica</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= link_to instance.label, edit_instance_path(instance) %></td>
        <td><%= link_to 'Elimina', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if current_user.admin? %>
            <td class="testo_piccolo"><%= instance.user.email %></td>
            <td class="testo_piccolo"><%= instance.updated_at %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <p>&nbsp;</p>
</div>

<div class="text-center">
  <%= will_paginate @instances, renderer: FoundationPagination::Rails %>
</div>

<%= render partial: "pages/footer" %>