<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<div class="row">

<h1>Crea <%= @entity.titolo %></h1>

<%= render 'form' %>

<p>&nbsp;</p>
</div>

<%= render partial: "pages/footer" %>