<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<% if @entity.immagine.exists? %>
    <div style='background: #ffffff;'>
      <div class="collapse row">
        <div class="large-12 columns" style="position: relative; padding: 0em;">
          <div class='cropped-30'><img src='<%= @entity.immagine.url(:large) %>' class='cropped-image'></div>
        </div>
      </div>
    </div>
<% end %>

<div class="row">

<h1><%= @entity.titolo %></h1>

<% @entity.properties.where("riservata = ?", false).each do |property| %>
  <br><% dato = Datum.find_by instance_id: @instance.id, property_id: property.id %>
      <%= property.nome %>:

      <b>
      <%=
      if property.tipo == 'select' && dato
        instance = Instance.where("id = ?", dato.valore).first
        instance.label if instance
      elsif property.tipo == 'utente' && @instance.user
        @instance.user.profilo.label
      else
        dato.valore if dato
      end
      %>
      </b>
<% end %>

<p>&nbsp;</p>
</div>

<%= render partial: "pages/footer" %>