<p>
  <strong>Entity di tipo:</strong>
  <%= @entity.label %>
</p>

<p>
  <strong>Sezione:</strong>
  <%= @instance.section.titolo %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @instance.tags %>
</p>

<p>Proprietà:</p>
<% @entity.properties.each do |property| %>
  <br><% dato = Datum.find_by instance_id: @instance.id, property_id: property.id %>
      <%= property.nome %>: <b><%= dato.valore if dato %></b>
<% end %>

