<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<p id="notice"><%= notice %></p>

<h1>Compiti assegnati
<%= link_to 'Nuovo compito', new_assignment_path, class: 'warning button float-right' %>
</h1>

<table>
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Key</th>
      <th>Descrizione</th>
      <th>Stato</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.titolo, edit_assignment_path(assignment), class: 'primary button' %></td>
        <td><%= link_to assignment.key, "/assignments/#{ assignment.key }", class: 'secondary button' %></td>
        <td><%= assignment.descrizione %></td>
        <td><%= assignment.stato %></td>
        <td><%= link_to 'Elimina', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'small alert button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>&nbsp;</p>

<%= render partial: "pages/footer" %>