<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<div class="row">

<% if notice %><div id=notice class="alert callout"><%= notice %></div><% end %>

<span class="label primary">Compito <b><%= @assignment.key %></b></span>
&nbsp;
<% if @assignment.stato == 1 %>
    <span class="large success label"><b>Fase 1:</b> La consegna è aperta</span>
<% elsif @assignment.stato == 2 %>
    <span class="large warning label"><b>Fase 2:</b> La valutazione è aperta</span>
<% else %>
    <span class="large alert label"><b>Fase 3:</b> Compito chiuso</span>
<% end %>

<h1><%= @assignment.titolo %></h1>

<div class="callout primary">
  <p><%= @assignment.descrizione %></p>
</div>

<div class="callout warning">
<h2>Il compito sarà valutato dai tuoi compagni secondo questi criteri:</h2>
<ol>
  <% if !@assignment.criterio1.blank? %><li><%= @assignment.criterio1 %></li><% end %>
  <% if !@assignment.criterio2.blank? %><li><%= @assignment.criterio2 %></li><% end %>
  <% if !@assignment.criterio3.blank? %><li><%= @assignment.criterio3 %></li><% end %>
  <% if !@assignment.criterio4.blank? %><li><%= @assignment.criterio4 %></li><% end %>
  <% if !@assignment.criterio5.blank? %><li><%= @assignment.criterio5 %></li><% end %>
  <% if !@assignment.criterio6.blank? %><li><%= @assignment.criterio6 %></li><% end %>
  <% if !@assignment.criterio7.blank? %><li><%= @assignment.criterio7 %></li><% end %>
  <% if !@assignment.criterio8.blank? %><li><%= @assignment.criterio8 %></li><% end %>
  <% if !@assignment.criterio9.blank? %><li><%= @assignment.criterio9 %></li><% end %>
  <% if !@assignment.criterio10.blank? %><li><%= @assignment.criterio10 %></li><% end %>
</ol>
</div>

<% if @homework %>
    <p>
  <% if @assignment.stato == 1 %>
    <%= link_to "Modifica la tua consegna", [:edit, @homework], class: 'primary button' %>
    <%= link_to "Link diretto URL", @homework.url, target: '_blank', class: 'hollow primary button' %>
  <% else %>
    <%= link_to "Visualizza la tua consegna", @homework, class: 'primary button' %>
    <%= link_to "Link diretto URL", @homework.url, target: '_blank', class: 'hollow primary button' %>

    <% if @assignment.stato == 3 %>
          </p><p>Voto finale: <b><%= @homework.voto %></b>
    <% end %>
  <% end %>
    </p>
<% else %>
  <% if @assignment.stato == 1 %>
      <p><%= link_to "CONSEGNA IL TUO ELABORATO", "/homeworks/new?key=#{ @assignment.key }", class: 'large primary button' %></p>
  <% elsif @assignment.stato == 2 %>
      <span class="large warning label">La fase di valutazione è iniziata, ma non hai consegnato il tuo elaborato.</span>
  <% else %>
      <span class="large secondary label">Il compito è chiuso, ma non hai consegnato il tuo elaborato.</span>
  <% end %>
<% end %>



<% if @assignment.stato > 1 %>
  <hr>
  <h2>Le valutazioni che hai ricevuto</h2>

  <% @homework.grades.each do |grade| %>
      <p><%= link_to "Valutazione del #{ grade.updated_at.to_s(:data_ora) }", grade, class: 'hollow alert button' %></p>
  <% end %>

  <hr>

  <h2>Le valutazioni che hai assegnato</h2>

   <% @grades.each do |grade| %>
        <p><%= link_to "Valutazione del #{ grade.updated_at.to_s(:data_ora) }", [:edit, grade], class: 'hollow secondary button' %>
          <% if @assignment.stato == 3 %>
              voto: <b><%= grade.voto %></b>
          <% end %>
        </p>
   <% end %>

  <% if @dacorreggere %>
      <p><%= link_to "VALUTA L'ELABORATO DI UN TUO COMPAGNO", "/grades/new?homework_id=#{ @dacorreggere.id }", class: 'large primary button' %></p>
  <% end %>
<% end %>

<p>&nbsp;</p>

</div>

<%= render partial: "pages/footer" %>