<p id="notice"><%= notice %></p>

<p>
  <strong>Titolo:</strong>
  <%= @assignment.titolo %>
</p>

<p>
  <strong>Key:</strong>
  <%= @assignment.key %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @assignment.descrizione %>
</p>

<p>
  <strong>User:</strong>
  <%= @assignment.user_id %>
</p>

<p>
  <strong>Criterio1:</strong>
  <%= @assignment.criterio1 %>
</p>

<p>
  <strong>Criterio2:</strong>
  <%= @assignment.criterio2 %>
</p>

<p>
  <strong>Criterio3:</strong>
  <%= @assignment.criterio3 %>
</p>

<p>
  <strong>Criterio4:</strong>
  <%= @assignment.criterio4 %>
</p>

<p>
  <strong>Criterio5:</strong>
  <%= @assignment.criterio5 %>
</p>

<p>
  <strong>Criterio6:</strong>
  <%= @assignment.criterio6 %>
</p>

<p>
  <strong>Criterio7:</strong>
  <%= @assignment.criterio7 %>
</p>

<p>
  <strong>Criterio8:</strong>
  <%= @assignment.criterio8 %>
</p>

<p>
  <strong>Criterio9:</strong>
  <%= @assignment.criterio9 %>
</p>

<p>
  <strong>Criterio10:</strong>
  <%= @assignment.criterio10 %>
</p>

<p>
  <strong>Stato:</strong>
  <%= @assignment.stato %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
