<h2>Dati personali</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>In attesa di conferma per: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Lascia il campo vuoto se non vuoi cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>Minimo <%= @minimum_password_length %> caratteri</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Abbiamo bisogno della tua password attuale per confermare i cambiamenti)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Aggiorna", class:'button' %>
  </div>
<% end %>

<h3>Cancellazione account</h3>

<p>Clicca sul bottone per cancellare definitivamente il tuo account <%= button_to "Cancella account", registration_path(resource_name), data: { confirm: "Desideri cancellare definitivamente il tuo account?" }, method: :delete, class:'alert button' %></p>
