<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<div class="row">
  <p>&nbsp;</p>

<h2>Modifica dei dati di accesso</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, 'data-abide' => true, 'novalidate' => true }) do |f| %>
  <%= render 'layouts/errori', object: resource %>

  <div class="small-12 columns field">
    <label>Email
    <%= f.email_field :email, pattern: 'email', placeholder: 'es. mario@rossi.com', autofocus: true, required: '' %>
    <span class='form-error'>Inserisci un indirizzo email valido.</span>
    </label>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>In attesa di conferma per: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="small-12 columns field">
    <label>Password
    <%= f.password_field :password, autocomplete: "off" %>
    <p class="help-text">Lascia il campo vuoto se non vuoi cambiarla.</p>
    </label>
  </div>

  <div class="small-12 columns field">
    <label>Conferma la password
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <p class="help-text">Scrivi un'altra volta la password se vuoi cambiarla.</p>
    </label>
  </div>

  <div class="small-12 columns field">
    <label>Password corrente
    <%= f.password_field :current_password, autocomplete: "off", required: '' %>
    <span class='form-error'>Per continuare la password corrente deve essere inserita.</span>
    <p class="help-text">Inserisci la password corrente per confermare le modifiche.</p>
    </label>
  </div>

  <div class="small-12 columns actions">
    <%= f.submit "Salva", class:'primary button' %>
  </div>
<% end %>

<hr>

<h2>Cancellazione account</h2>

<p>Clicca sul bottone per cancellare definitivamente il tuo account: <%= button_to "Cancella account", registration_path(resource_name), data: { confirm: "Desideri cancellare definitivamente il tuo account?" }, method: :delete, class:'alert button' %></p>

  <p>&nbsp;</p>
</div>

<%= render partial: "pages/footer" %>