<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>

<div class="row">
<p>&nbsp;</p>

<h2>Registrazione nuovo utente</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { 'data-abide' => true, 'novalidate' => true }) do |f| %>
  <%= render 'layouts/errori', object: resource %>

  <div class="small-12 columns field">
    <label>Email
    <%= f.email_field :email, pattern: 'email', placeholder: 'es. mario@rossi.com', autofocus: true, required: '' %>
    <span class='form-error'>Inserisci un indirizzo email valido.</span>
    </label>
  </div>

  <div class="small-12 columns field">
    <label>Password
    <%= f.password_field :password, autocomplete: "off", required: '' %>
    <span class='form-error'>Inserisci una password di almeno <%= @minimum_password_length %> caratteri.</span>
    </label>
  </div>

  <div class="small-12 columns field">
    <label>Conferma la password
    <%= f.password_field :password_confirmation, autocomplete: "off", required: '', data: { equalto: "user_password" } %>
    <span class='form-error'>Le due password devono corrispondere.</span>
    </label>
  </div>

  <div class="small-12 columns actions">
    <%= f.submit "Iscrivi", class:'primary button' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<p>&nbsp;</p>
</div>

<%= render partial: "pages/footer" %>