<h1>Album fotografici
  <%= link_to 'Nuovo album fotografico', { controller: 'photoalbums', action: 'new', section_id: @section }, class: 'large warning button float-right' %>
</h1>

<table>
  <tbody>
  <% policy_scope(@photoalbums).each do |photoalbum| %>
      <tr>
        <td><%= link_to photoalbum.titolo, edit_photoalbum_path(photoalbum), class: "primary medium button bottone-largo" %></td>
        <td><%= photoalbum.updated_at.to_s(:data_ora) %></td>
        <td><%= "Sezione " + photoalbum.section.titolo %></td>
        <td><%= link_to 'Elimina', photoalbum, method: :delete, data: { confirm: 'Desideri cancellare l\'album fotografico e tutte le sue foto?' }, class: "tiny alert button" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @photoalbums, renderer: FoundationPagination::Rails %>
</div>
