<%= render partial: "pages/cookielaw" %>

<%= render partial: "pages/header" %>

<div class="row">
  <h1><%= @photoalbum.titolo %></h1>
</div>

<% if current_user && (current_user.admin || current_user.section_id) %>

  <script>
    function makeid()
    {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for( var i=0; i < 7; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }

    var randomFilename = function (name) {
      return makeid() + '.jpg';
    };

    Dropzone.options.mediaDropzone = {
      acceptedFiles: "image/jpeg,image/png,image/gif",
      renameFilename: randomFilename,
      dictDefaultMessage: "Trascina le immagini qui per caricarle nell'album...",
      init: function() {
        this.on("queuecomplete", function(file) { window.location.reload(); });
      }
    };

    Dropzone.autoDiscover = false;

    $(function() {
      // Now that the DOM is fully loaded, create the dropzone, and setup the
      // event listeners
      var myDropzone = new Dropzone("#media-dropzone");

    })

  </script>

  <form action="/photos" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input name="photoalbum_id" type="hidden" value="<%= @photoalbum.id %>">
    <div class="fallback">
      <input name="media" type="file" multiple />
    </div>
  </form>

<% end %>

<div class="large reveal" id="finestra_modale" data-reveal data-v-offset="10%">
</div>

<script>
  function mostraFoto(id) {

    // $.ajax( '/columns/611/dialog_immagine' ).done(function (data) {
    $.ajax('/photos/' + id ).done(function (data) {
      $("#finestra_modale").html(data).foundation("open");
    });

    // $('#finestra_modale').trigger('resizeme.zf.trigger');
  }
</script>

<div class="row collapse small-up-1 medium-up-2 large-up-4">
  <% @photos.each do |photo| %>
      <div class="column" style="position: relative; padding: 3px;">
        <a onclick="mostraFoto(<%= photo.id %>);">
          <%= image_tag photo.immagine.thumb.url %>
        </a>

        <% if current_user && (current_user.admin || current_user.section_id) %>
          <div class="gestione-immagini">
            <%= link_to '<i class="fi-photo"></i>'.html_safe, { controller: 'photoalbums', action: 'copertina', id: photo.photoalbum.id, photo_id: photo.id } %>
            <%= link_to '<i class="fi-x"></i>'.html_safe, photo, method: :delete, data: { confirm: 'Desideri cancellare la foto?' } %>

          </div>
        <% end %>
      </div>
  <% end %>
</div>

<%= render partial: "pages/footer" %>