<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titolo %><br>
    <%= f.text_field :titolo %>
  </div>
  <div class="field">
    <%= f.label :plurale %><br>
    <%= f.text_field :plurale %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.select(:tipo, options_for_select([['iscrizione','iscrizione'],['ordine','ordine'],['oggetto','oggetto']],@entity.tipo)) %>
  </div>
  <div class="field">
    <%= image_tag @entity.immagine.url(:thumb) if @entity.immagine.exists? %><br>
    <%= f.label :immagine %><br>
    <%= f.file_field :immagine %>
  </div>
  <div class="field">
    <%= f.label "Date apertura iscrizioni" %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_area :descrizione %>
  </div>
  <div class="field">
    <%= f.label "Modalità di pagamento" %><br>
    <%= f.text_area :testo_pagamento %>
  </div>
  <div class="field">
    <%= f.label :landing_page, "Landing page" %><br>
    <%= f.text_field :landing_page %>
  </div>
  <div class="field">
    <%= f.check_box :vetrina %>
    <%= f.label :vetrina %>
  </div>
  <div class="field">
    <%= f.label :stato %><br>
    <%= f.number_field :stato %>
  </div>
  <div class="field">
    <%= check_box_tag 'rigenera_slug' %>
    <%= f.label 'rigenera slug' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
