<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titolo %><br>
    <%= f.text_field :titolo %>
  </div>
  <div class="field">
    <%= f.label :landing_page, "Landing page" %><br>
    <%= f.text_field :landing_page %>
  </div>
  <div class="field">
    <%= f.check_box :nativo %>
    <%= f.label :nativo %>
  </div>
  <div class="field">
    <%= f.check_box :riservata %>
    <%= f.label :riservata %>
  </div>
  <div class="field">
    <%= check_box_tag 'rigenera_slug' %>
    <%= f.label 'rigenera slug' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
