<%= render partial: "pages/cookielaw" %>
<%= render partial: "pages/header" %>



<div class="row small-12 columns">
  <p>&nbsp;</p>
  <% if !current_user %>
    <div class="primary callout" data-closable="scale-out-up">
      <h2>Login necessario</h2>
      <p>Per iscriverti devi prima effettuare l'accesso al sito:
        <br>se hai già un account <a href="/users/sign_in">clicca qui per loggarti</a>,
        altrimenti <a href="/users/sign_up">iscriviti qui</a>.</p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>

<div class="row small-up-1 medium-up-3">

  <% @entities.each do |entity| %>
      <div class="column column-block">
        <div class="card-user-profile">
        <% if entity.immagine.exists? %>
            <img class="card-user-profile-img" src="<%= entity.immagine.url(:medium) %>" />
        <% end %>
            <div class="card-user-profile-content card-section">
            <div class="card-user-profile-avatar">
              <img src="/img/entity/<%= entity.tipo %><%= '_disabled' if entity.stato != 1 %>.png" />
            </div>
            <p class="card-user-profile-name"><%= entity.titolo %></p>
            <p class="card-user-profile-date"><%= entity.date %></p>
            <p class="card-user-profile-info"><%= entity.descrizione %></p>
          </div>

          <div class="card-user-profile-actions">
            <%
              case entity.tipo
                when 'iscrizione'
                  bottone_new = 'Iscrivi'
                when 'ordine'
                  bottone_new = 'Ordina'
                when 'oggetto'
                  bottone_new = 'Aggiungi'
                else
                  bottone_new = 'Aggiungi'
              end

              if !current_user %>
              <a href="#" class="card-user-profile-button primary disabled button" title="Accedi per iscriverti."><%= bottone_new %></a>
              <a href="#" class="card-user-profile-button disabled secondary button" title="Accedi per iscriverti.">Elenco</a>
            <% elsif entity.stato == 1 || current_user.admin? %>
              <a href="/instances/new?type=<%= entity.slug %>" class="card-user-profile-button primary button"><%= bottone_new %></a>
              <a href="/instances?type=<%= entity.slug %>" class="card-user-profile-button secondary button">Elenco</a>
            <% else %>
              <a href="#" class="card-user-profile-button primary disabled button"><%= bottone_new %></a>
              <a href="/instances?type=<%= entity.slug %>" class="card-user-profile-button secondary button">Elenco</a>
            <% end %>
            <% if current_user && current_user.admin? %>
              <a href="<%= edit_entity_url(entity) %>" class="card-user-profile-button warning button">Modifica</a>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

  </div>

<%= render partial: "pages/footer" %>