<h1>utenti
  <%= link_to 'Nuovo utente', new_user_path, class: 'large warning button float-right' %>
</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, edit_user_path(user) %></td>
        <td><% if user.section %><%= "gestore #{user.section.titolo}" %><%= " (designer)" if user.designer %><% end %></td>
        <td><%= "amministratore" if user.admin %></td>
        <td><%= link_to 'Elimina', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

