<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @property.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @property.tipo %>
</p>

<p>
  <strong>Nativo:</strong>
  <%= @property.nativo %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
