<%= form_for(@column_image) do |f| %>
    <% if @column_image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@column_image.errors.count, "error") %> prohibited this column_image from being saved:</h2>

          <ul>
            <% @column_image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= image_tag @column_image.immagine.url(:thumb) if @column_image.immagine.exists? %><br>
      <%= f.label :immagine %><br>
      <%= f.file_field :immagine %>
    </div>
    <div class="field">
      <%= f.label :titolo %><br>
      <%= f.text_area :titolo %>
    </div>
    <div class="field">
      <%= f.label :descrizione %><br>
      <%= f.text_area :descrizione %>
      <%= hidden_field_tag 'column_image[column_id]', @column_image.column.id  %>
    </div>
    <div class="field">
      <%= f.label :collegamento %><br>
      <%= f.text_area :collegamento %>
    </div>
    <div class="actions">
      <%= f.submit "SALVA", class:'button' %>

      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% end %>
