<p id="notice"><%= notice %></p>

<p>
  <strong>Ordine:</strong>
  <%= @column.ordine %>
</p>

<p>
  <strong>Contenuto:</strong>
  <%= @column.contenuto %>
</p>

<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Back', columns_path %>
