<h1>Allegati
  <%= link_to 'Nuovo allegato', { controller: 'attachments', action: 'new', section_id: @section }, class: 'large warning button float-right' %>
</h1>

<table>
  <tbody>
    <% policy_scope(@attachments).each do |attachment| %>
      <% if attachment.allegato %>
      <tr>
        <td><%= link_to attachment.titolo, attachment.allegato.url, class: "primary medium button bottone-largo" %></td>
        <td><%= attachment.descrizione %></td>
        <td><%= link_to attachment.allegato_file_name, edit_attachment_path(attachment), class: "secondary medium button bottone-largo" %></td>
        <td><%= attachment.allegato_file_size / 1024 %> KB</td>
        <td><%= attachment.updated_at.to_s(:data_ora) %></td>
        <td><%= "Sezione " + attachment.section.titolo %></td>
        <td><%= link_to 'Elimina', attachment, method: :delete, data: { confirm: 'Desideri cancellare il file?' }, class: "tiny alert button" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @attachments, renderer: FoundationPagination::Rails %>
</div>