<h1>Sezioni del sito
  <%= link_to 'Nuova sezione', new_section_path, class: 'large warning button float-right' %>
</h1>

<table>
  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= link_to section.titolo, "/#{section.percorso}", method: :get, class: "primary button bottone-largo" %></td>
        <td><%= link_to "/#{section.percorso}", "/#{section.percorso}" %></td>
        <td><%= section.descrizione %></td>
        <td><%= "principale" if section.principale %></td>
        <td><%= link_to 'Nuova pagina', new_page_path(:section_id => section.id), class: "tiny warning button" %></td>
        <td><%= link_to 'Nuovo articolo', new_page_path(:section_id => section.id, :articolo => 1), class: "tiny warning button" %></td>
        <td><%= link_to 'Nuovo allegato', new_attachment_path(:section_id => section.id), class: "tiny warning button" %></td>
        <td><%= link_to 'Proprietà', edit_section_path(section), class: "tiny primary button" %></td>
        <td><%= link_to 'Elimina', section, method: :delete, data: { confirm: 'Sei sicuro? Verranno cancellate tutte le pagine di questa sezione...' }, class: "tiny alert button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

