<p id="notice"><%= notice %></p>

<h1>Sezioni del sito</h1>

<table>
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Descrizione</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.titolo %></td>
        <td><%= section.descrizione %></td>
        <td><%= link_to 'Mostra', section %></td>
        <td><%= link_to 'Proprietà', edit_section_path(section) %></td>
        <td><%= link_to 'Elimina', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova sezione', new_section_path, class: 'large warning button' %>
