<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titolo %><br>
    <%= f.text_field :titolo %>
  </div>
  <div class="field">
    <%= f.label "Sezione" %><br>
    <%= f.collection_select(:section_id, Section.all, :id, :titolo) %>
  </div>
  <div class="field">
    <%= f.check_box :visibile %>
    <%= f.label :visibile %>
  </div>
  <div class="field">
    <%= f.check_box :home %>
    <%= f.label :home %>
  </div>
  <div class="field">
    <%= f.check_box :header %>
    <%= f.label :header %>
  </div>
  <div class="field">
    <%= f.check_box :footer %>
    <%= f.label :footer %>
  </div>
  <div class="field">
    <%= f.check_box :modello %>
    <%= f.label :modello %>
  </div>
  <div class="field">
    <%= f.check_box :articolo %>
    <%= f.label :articolo %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA", class: "button" %>
  </div>
<% end %>
