<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titolo %><br>
    <%= f.text_field :titolo %>
  </div>
  <div class="field">
    <%= f.label "Sezione" %><br>
    <%= f.collection_select(:section_id, policy_scope(Section), :id, :titolo) %>
  </div>
  <% if @page.articolo %>
    <%= f.hidden_field :visibile %>
    <%= f.hidden_field :home %>
    <%= f.hidden_field :header %>
    <%= f.hidden_field :footer %>
    <%= f.hidden_field :modello %>
  <% else %>
    <div class="field">
      <%= f.check_box :visibile %>
      <%= f.label :visibile %>
    </div>
    <div class="field">
      <%= f.check_box :home %>
      <%= f.label :home %>
    </div>
    <div class="field">
      <%= f.check_box :header %>
      <%= f.label :header %>
    </div>
    <div class="field">
      <%= f.check_box :footer %>
      <%= f.label :footer %>
    </div>
    <div class="field">
      <%= f.check_box :modello %>
      <%= f.label :modello %>
    </div>
  <% end %>
  <%= f.hidden_field :articolo %>
  <div class="actions">
    <%= f.submit "SALVA", class: "button" %>
  </div>
<% end %>
