<!-- Menu amministrativo -->
<div data-sticky-container style="z-index:1000;">
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title"><a href="/"><img src="/img/logodbwebcore.png" width="200"></a></div>
  </div>

  <div class="top-bar" id="main-menu" data-sticky data-options="marginTop:0;">

    <ul class="menu vertical medium-horizontal expanded" data-responsive-menu="accordion medium-dropdown">

      <li class="menu-text"><a href="/"><img src="/img/logodbwebcore.png" width="200"></a></li>

      <% menu_disattivati = '<li>
          <a id="pagePreview" onclick="" class="toolbar disabled button" title="Page preview: ALT + P"><i class="fi-eye"></i> Preview</a>
        </li>
        <li>
          <a id="pageSave" onclick="" class="toolbar disabled button" title="Salva: ALT + S"><i class="fi-save"></i> Salva</a>
        </li>
        <li>
          <a id="newsEdit" onclick="" class="toolbar disabled button" title="News: ALT + I"><i class="fi-page"></i> News</a>
        </li>
        <li>
          <a id="inlineEdit" onclick="" class="toolbar disabled button" title="Inline edit: ALT + I"><i class="fi-page"></i> Editor</a>
        </li>'.html_safe

         menu_disattivati += '<li>
          <a id="layoutDesign" onclick="" class="toolbar disabled button" accesskey="l" title="Layout design: ALT + L"><i class="fi-pencil"></i> Layout</a>
        </li>'.html_safe if current_user && (current_user.designer || current_user.admin)


      %>

      <%=
        if current_user.admin || current_user.section_id
          @menu_aggiuntivi || menu_disattivati
        end
      %>

      <% if policy(Section).index? %>
          <li class="has-submenu">
            <a>Sezioni</a>
            <ul class="submenu menu vertical" data-submenu>
              <% policy_scope(Section).order('titolo').each do |section| %>
                  <li><%= link_to section.titolo, '/' + section.percorso %></li>
              <% end %>
              <li><a href="/sections">Tutte</a></li>
              <li><a href="/sections/new">Nuova sezione</a></li>
            </ul>
          </li>
      <% end %>
      <% if policy(Page).index? %>
          <li class="has-submenu">
            <a>Pagine</a>
            <ul class="submenu menu vertical" data-submenu>
              <% policy_scope(Section).order('titolo').each do |section| %>
                  <li><%= link_to section.titolo, pages_path(:section_id => section.id) %></li>
              <% end %>
              <li><a href="/pages">Tutte</a></li>
              <% if @section %>
                  <li><a href="/pages/new?section_id=<%= @section.id %>">Nuova pagina</a></li>
              <% else %>
                  <li><a href="/pages/new">Nuova pagina</a></li>
              <% end %>
            </ul>
          </li>
          <li class="has-submenu">
            <a>Articoli</a>
            <ul class="submenu menu vertical" data-submenu>
              <% policy_scope(Section).order('titolo').each do |section| %>
                  <li><%= link_to section.titolo, pages_path(:section_id => section.id, :articolo => 1) %></li>
              <% end %>
              <li><a href="/pages?articolo=1">Tutti</a></li>
              <% if @section %><li><a href="/pages/new?section_id=<%= @section.id %>&articolo=1">Nuovo articolo</a></li><% end %>
            </ul>
          </li>
      <% end %>
      <% if policy(Photoalbum).index? %>
          <li class="has-submenu">
            <a>Fotografie</a>
            <ul class="submenu menu vertical" data-submenu>
              <% policy_scope(Section).order('titolo').each do |section| %>
                  <li><%= link_to section.titolo, photoalbums_path(:section_id => section.id) %></li>
              <% end %>
              <li><a href="/photoalbums">Tutti</a></li>
              <% if @section %>
                  <li><a href="/photoalbums/new?section_id=<%= @section.id %>">Nuovo album</a></li>
              <% else %>
                  <li><a href="/photoalbums/new">Nuovo album</a></li>
              <% end %>
            </ul>
          </li>
      <% end %>
      <% if policy(Attachment).index? %>
          <li class="has-submenu">
            <a>Allegati</a>
            <ul class="submenu menu vertical" data-submenu>
              <% policy_scope(Section).order('titolo').each do |section| %>
                  <li><%= link_to section.titolo, attachments_path(:section_id => section.id) %></li>
              <% end %>
              <li><a href="/attachments">Tutti</a></li>
              <% if @section %>
                  <li><a href="/attachments/new?section_id=<%= @section.id %>">Nuovo allegato</a></li>
              <% else %>
                  <li><a href="/attachments/new">Nuovo allegato</a></li>
              <% end %>
            </ul>
          </li>
      <% end %>
      <%
        if current_user.admin?
          iscrizioni = Entity.where("slug LIKE ?", "iscrizione%").order(:updated_at => 'DESC')
        else
          iscrizioni = Entity.where("riservata = ? AND slug LIKE ?", false, "iscrizione%").order(:updated_at => 'DESC')
        end

        if iscrizioni.count >= 1 %>
          <li class="has-submenu">
            <a>Iscrizioni</a>
            <ul class="submenu menu vertical" data-submenu>
      <%
          iscrizioni.each do |entity|
      %>
            <li><a href="/instances?type=<%= entity.slug %>"><%= entity.plurale %></a></li>
      <%
          end
      %>
            </ul>
          </li>
      <%
        end

      %>
      <%
        if current_user.admin?
          entities = Entity.where("slug NOT LIKE ? AND SLUG != 'persona'", "iscrizione%").order(:titolo => 'ASC')
        else
          entities = Entity.where("riservata = ? AND slug NOT LIKE ? AND SLUG != 'profilo'", false, "iscrizione%").order(:titolo => 'ASC')
        end

        if current_user.admin? || entities.count >= 1 %>
          <li class="has-submenu">
            <a>Gestione</a>
            <ul class="submenu menu vertical" data-submenu>
              <% if current_user.admin? %><li><a href="/admin/users">Dati di accesso</a></li><% end %>
              <% entities.each do |entity| %>
                  <li><a href="/instances?type=<%= entity.slug %>"><%= entity.plurale %></a></li>
              <% end %>
            </ul>
          </li>
      <% end %>
      <li class="has-submenu">
        <a>Account</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to "Dati di accesso", edit_user_registration_path %></li>
          <li><%= link_to "Profilo", '/edit-profile' %></li>
          <li><%= link_to "Logout", destroy_user_session_path %></li>
        </ul>
      </li>
    </ul>

  </div>
</div>