<h1>Articoli</h1>

<table>
  <tbody>
    <% @pages.each do |page|

      abstract = page.abstract

      # verifichiamo se esiste almeno una foto associata all'articolo
      foto = ColumnImage.joins(:column => :row).where(:rows => {:page_id => page}).first
    %>
      <tr>
        <td><%= image_tag foto.immagine.url(:thumb) if foto %></td>
        <td><%= link_to page.titolo.mb_chars.upcase, "/#{page.slug}" %>
        <br><i><%= abstract %></i>
        </td>
        <td><%= page.published_at.to_s(:data) %></td>
        <td><%= "Sezione " + page.section.titolo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
<%= will_paginate @pages, renderer: FoundationPagination::Rails %>
</div>