<h1>Pagine del sito
  <%= link_to 'NUOVA PAGINA', new_page_path, class: "large warning button float-right" %>
</h1>

<table>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.titolo, "/#{page.slug}", method: :get, class: "primary medium button bottone-largo" %></td>
        <td><%= link_to "/#{page.slug}", "/#{page.slug}" %></td>
        <td><%= "home" if page.home %>
            <%= "header" if page.header %>
            <%= "footer" if page.footer %></td>
        <td><%= "Sezione " + page.section.titolo %></td>
        <td><%= link_to 'Proprietà', edit_page_path(page), class: "tiny primary button" %></td>
        <td><%= link_to 'Elimina', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny alert button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
<%= will_paginate @pages, renderer: FoundationPagination::Rails %>
</div>