<h1>
  <% if @mostra_articoli %>Articoli<% else %>Pagine<% end %> <%= @section.titolo if @section %>
  <% if @mostra_articoli %>
    <%= link_to 'NUOVO ARTICOLO', { controller: 'pages', action: 'new', articolo: 1, section_id: @section }, class: "large warning button float-right" if @section %>
  <% else %>
    <%= link_to 'NUOVA PAGINA', { controller: 'pages', action: 'new', section_id: @section }, class: "large warning button float-right" %>
  <% end %>
</h1>

<% @pages.each do |page|
    # verifichiamo se esiste almeno una foto associata all'articolo
    foto = ColumnImage.joins(:column => :row).where(:rows => {:page_id => page}).first
%>
    <div class="expanded row">
      <div class="large-1 columns"><% if @mostra_articoli %><%= if foto
                                                                  image_tag foto.immagine.url(:thumb), style: 'width: 100%;'
                                                                else
                                                                  '&nbsp;'.html_safe
                                                                end
      %><% end %></div>
      <div class="large-3 columns"><%= link_to '<i class="fi-paperclip"></i> '.html_safe + "/#{page.slug}", "/#{page.slug}", method: :get, class: "secondary medium button bottone-largo" %></div>
      <div class="large-4 columns">
        <%= "<span class='warning label'>home</span>".html_safe if page.home %>
        <b><%= page.titolo %></b>
        <br><%= page.published_at.to_s(:data_ora) %>
        <%= "Sezione " + page.section.titolo %>
      </div>
      <div class="large-2 columns">
        <%= "<span class='warning label'>non visibile</span>".html_safe if !page.visibile %>
        <%= "<span class='secondary label'>header</span>".html_safe if page.header %>
        <%= "<span class='secondary label'>footer</span>".html_safe if page.footer %>
        <%= "<span class='secondary label'>modello</span>".html_safe if page.modello %>
        <%= "<span class='secondary label'>articolo</span>".html_safe if page.articolo %>
      </div>
      <div class="large-2 columns">
        <%= link_to 'Proprietà', edit_page_path(page), class: "tiny primary button" %>
        <%= link_to 'Duplica', { controller: "pages", action: "duplica", id: page, articolo: params[:articolo], section_id: params[:section_id]}, class: "tiny warning button" %>
        <%= link_to 'Elimina', { controller: "pages", action: "destroy", id: page, articolo: params[:articolo], section_id: params[:section_id]}, method: :delete, data: { confirm: 'Vuoi procedere con la cancellazione della pagina?' }, class: "tiny alert button" %>
      </div>
    </div>

<% end %>

<div class="text-center">
<%= will_paginate @pages, renderer: FoundationPagination::Rails %>
</div>