<h1>
  <% if @mostra_articoli %>Articoli<% else %>Pagine<% end %> <%= @section.titolo if @section %>
  <% if @mostra_articoli %>
    <%= link_to 'NUOVO ARTICOLO', { controller: 'pages', action: 'new', articolo: 1, section_id: @section }, class: "large warning button float-right" if @section %>
  <% else %>
    <%= link_to 'NUOVA PAGINA', { controller: 'pages', action: 'new', section_id: @section }, class: "large warning button float-right" %>
  <% end %>
</h1>

<table>
  <tbody>
    <% @pages.each do |page|

      # verifichiamo se esiste almeno una foto associata all'articolo
      foto = ColumnImage.joins(:column => :row).where(:rows => {:page_id => page}).first
    %>
      <tr>
        <% if @mostra_articoli %><td><%= image_tag foto.immagine.url(:thumb) if foto %></td><% end %>
        <td><%= link_to page.titolo, "/#{page.slug}", method: :get, class: "primary medium button bottone-largo" %></td>
        <td><%= link_to "/#{page.slug}", "/#{page.slug}" %></td>
        <td><%= "<span class='warning label'>Non visibile</span>".html_safe if !page.visibile %></td>
        <td><%= page.published_at.to_s(:data_ora) %></td>
        <td><%= "home" if page.home %>
            <%= "header" if page.header %>
            <%= "footer" if page.footer %>
            <%= "modello" if page.modello %>
            <%= "articolo" if page.articolo %></td>
        <td><%= "Sezione " + page.section.titolo %></td>
        <td><%= link_to 'Proprietà', edit_page_path(page), class: "tiny primary button" %></td>
        <td><%= link_to 'Duplica', { controller: "pages", action: "duplica", id: page}, class: "tiny warning button" %></td>
        <td><%= link_to 'Elimina', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny alert button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
<%= will_paginate @pages, renderer: FoundationPagination::Rails %>
</div>