<p id="notice"><%= notice %></p>

<h1>Pagine del sito</h1>

<table>
  <thead>
    <tr>
      <th>Titolo</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.titolo, page, method: :get, class: "primary button" %></td>
        <td><%= "home" if page.home %>
            <%= "header" if page.header %>
            <%= "footer" if page.footer %></td>
        <td><%= "Sezione " + page.section.titolo %></td>
        <td><%= link_to 'Proprietà', edit_page_path(page), class: "tiny primary button" %></td>
        <td><%= link_to 'Elimina', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny alert button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'NUOVA PAGINA', new_page_path, class: "large warning button" %>
