<%
  header = @page.trova_header

  footer = @page.trova_footer
%>

<% if header %>
    <% if !user_signed_in? %>
        <div data-sticky-container>
          <div class="sticky" data-sticky data-options="marginTop:0;" style="width:100%; z-index:999;">
    <% end %>
    <%= render(header.rows.order('ordine ASC')) %>
    <% if !user_signed_in? %>
        </div>
        </div>
    <% end %>
<% end %>


    <% @pages.each do |page|

      abstract = page.abstract

      # verifichiamo se esiste almeno una foto associata all'articolo
      foto = ColumnImage.joins(:column => :row).where(:rows => {:page_id => page}).first
    %>
      <div class="expanded row">
        <div class="large-2 columns">
          <% if foto %>
              <a href="<%= "/#{page.slug}" %>"><%= image_tag foto.immagine.url(:thumb), style: 'width: 100%;' %></a>
          <% end %>
        </div>
        <div class="large-10 columns"><h1><%= link_to page.titolo.mb_chars.upcase, "/#{page.slug}" %></h1>
          <p>del <%= page.published_at.to_s(:data) %>, sezione <%= page.section.titolo %>
          <br><i><%= abstract %></i></p>
        </div>
      </div>
    <% end %>


<div class="text-center">
<%= will_paginate @tags, renderer: FoundationPagination::Rails %>
</div>

<%= render(footer.rows.order('ordine ASC')) if footer %>