<!-- cookie law -->
<div id="cookie-message">Questo sito utilizza cookie di profilazione propri o di terze parti, per saperne di
  più <a href="/privacy-policy">clicca qui</a>
  <button id="cookie-chiudi" class="tiny warning button">OK</button>
</div>

<script src="https://unpkg.com/object-fit-images@2.5.9/dist/ofi.browser.js"></script>

<%
  header = @page.trova_header

  footer = @page.trova_footer
%>

<% if header %>
    <% if false && !user_signed_in? %>
        <div data-sticky-container>
          <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%; z-index:999;">
    <% end %>
    <%= render(header.rows.order('ordine ASC')) %>
    <% if false && !user_signed_in? %>
        </div>
        </div>
    <% end %>
<% end %>


    <% @tags.each do |tag| %>

      <% if tag.taggable_type == 'Page'
        page = Page.find_by id: tag.taggable_id
        if page && page.visibile
          abstract = page.abstract
          anno = page.published_at.year

          # verifichiamo se esiste almeno una foto associata all'articolo
          foto = ColumnImage.joins(:column => :row).where(:rows => {:page_id => page}).first
      %>
            <div class="expanded row">
              <div class="large-2 columns">
                <% if foto %>
                    <a href="<%= "/#{page.slug}" %>"><%= image_tag foto.immagine.url(:thumb), style: 'width: 100%;' %></a>
                <% else %>
                    <a href="<%= "/#{page.slug}" %>"><%= image_tag "/img/copertine/articoli_#{anno}.jpg", class: 'show-for-medium', style: 'width: 100%;' %></a>
                <% end %>
              </div>
              <div class="large-10 columns"><span class="titolo-ricerca"><%= link_to page.titolo.mb_chars.upcase, "/#{page.slug}" %></span>
                <p><span class="info-ricerca">del <b><%= page.published_at.to_s(:data) %></b>, sezione <b><%= page.section.titolo %></b></span>
                <br><span class="descrizione-ricerca"><%= abstract %></span></p>
              </div>
            </div>
      <%
        end
        elsif tag.taggable_type == 'Attachment'
          attachment = Attachment.find_by id: tag.taggable_id
          if attachment
      %>
            <div class="expanded row">
              <div class="large-2 columns">
                <a href="<%= "/attachments/#{ attachment.id }/download/#{attachment.allegato_file_name}" %>"><%= image_tag "/img/formati/#{ File.extname(attachment.allegato_file_name).gsub('.','') }.png", class: 'show-for-medium', style: 'width: 100%;' %></a>
              </div>
              <div class="large-10 columns"><span class="titolo-ricerca"><%= link_to attachment.titolo.mb_chars.upcase, "/attachments/#{ attachment.id }/download/#{attachment.allegato_file_name}" %></span>
                <p><span class="info-ricerca">file: <b><%= attachment.allegato_file_name %>, <%= attachment.allegato_file_size / 1024 %> KB</b>, data <b><%= attachment.updated_at.to_s(:data) %></b>, sezione <b><%= attachment.section.titolo %></b></span>
                  <br><span class="descrizione-ricerca"><%= attachment.descrizione %></span></p>
              </div>
            </div>
      <%
          end
        elsif tag.taggable_type == 'Photoalbum'
          photoalbum = Photoalbum.find_by id: tag.taggable_id
          if photoalbum
      %>
            <div class="expanded row">
              <div class="large-2 columns">
                <a href="<%= "/photoalbums/#{ photoalbum.id }" %>"><%= 'ALBUM FOTOGRAFICO' %></a>
              </div>
              <div class="large-10 columns"><span class="titolo-ricerca"><%= link_to photoalbum.titolo.mb_chars.upcase, "/photoalbums/#{ photoalbum.id }" %></span>
                <p><span class="info-ricerca">data <b><%= photoalbum.updated_at.to_s(:data) %></b>, sezione <b><%= photoalbum.section.titolo %></b></span>
                </p>
              </div>
            </div>
        <%
          end
        end
      end
      %>


<div class="text-center">
<%= will_paginate @tags, renderer: FoundationPagination::Rails %>
</div>

<%= render(footer.rows.order('ordine ASC')) if footer %>