<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">dbWEBcore</li>
        <li>
          <input onclick="pageSave();" type="button" class="error button" value="SALVA LE MODIFICHE" id="pageSave">
        </li>
        <li>
          <input onclick="pagePreview();" type="button" class="toolbar warning button" value="PREVIEW" id="pagePreview">
        </li>
        <li>
          <input onclick="inlineEdit();" type="button" class="toolbar button" value="INLINE EDIT" id="inlineEdit">
        </li>
        <li>
          <input onclick="layoutDesign();" type="button" class="toolbar button" value="LAYOUT DESIGN" id="layoutDesign">
        </li>
      </ul>
    </div>
    <div class="title-bar-right">
    </div>
  </div>
</div>

<div class="reveal" id="modal1" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
  function openModal(id) {
    $.ajax("/rows/" + id + "/edit").done(function (data) {
      $("#modal1").html(data).foundation("open");
    });
  }
</script>

<p><input onclick="openModal('31');" type="button" class="error button" value="OPEN MODAL" id="pageSave"></p>

<p id="notice"><%= notice %></p>

    <%= render(@page.rows.order('ordine ASC')) %>

<script>
  // Turn off automatic editor creation first.
  CKEDITOR.disableAutoInline = true;

  // prepara i menù contestuali
  $.contextMenu({
    selector: '.columns',
    callback: function(action, options) {
      var id = $(this).attr('id').substr(6);
      // var m = "clicked: " + action + " on " + id;
      // window.console && console.log(m);

      if(action != 'immagine_sfondo') {
        $.ajax({
          url: '/columns/' + id + '/' + action + '.js',
          type: 'POST',
          data: {
            authenticity_token: '<%= form_authenticity_token %>'
          }
          // success: function (response) {
          //   alert("La pagina è stata salvata.");
          // }
          // document.getElementById( 'notice' ).innerHTML = 'La pagina &egrave; stata salvata.';*/
        });
      }
      else {
        $.ajax({
          url: '/columnstgg/' + id + '/' + action + '.js',
          type: 'POST',
          data: {
            authenticity_token: '<%= form_authenticity_token %>'
          }
        });
      }
    },
    items: {
      "inserisci_riga_prima": {name: "Inserisci riga prima"},
      "inserisci_riga_dopo": {name: "Inserisci riga dopo"},
      "estendi_riga": {name: "Estendi riga"},
      "riduci_riga": {name: "Comprimi riga"},
      "elimina_riga": {name: "Elimina riga"},
      "sep1": "---------",
      "inserisci_colonna_prima": {name: "Inserisci colonna prima"},
      "inserisci_colonna_dopo": {name: "Inserisci colonna dopo"},
      "allarga_colonna": {name: "Allarga colonna"},
      "stringi_colonna": {name: "Stringi colonna"},
      "elimina_colonna": {name: "Elimina colonna"},
      "sep2": "---------",
      "immagine_sfondo": {name: "Immagine di sfondo..."},
    }
  });

  // ...e li disabilita
  $('.columns').each(function () {
    var $this = $(this);
    $this.contextMenu(false);
  });

  /*
   $(function() {
   /


   $('.context-menu-one').on('click', function(e){
   console.log('clicked', this);
   })
   }); */

  // salva il contenuto di tutti gli editor inline
  function pageSave() {

    for (instance in CKEDITOR.instances) {
      var editor = CKEDITOR.instances[instance]; // CKEDITOR.instances.editor1;
      var data = editor.getData();
      var id = editor.name.substr(6);

      // remember to use encodeURIComponent to properly encode the data that is being sent.
      // document.getElementById( 'editorcontent2' ).innerHTML = data;

      // Send contents to server
      $.ajax({
        url: '/columns/' + id + '/editor_update',
        type: 'POST',
        data: {
          contenuto: data,
          authenticity_token: '<%= form_authenticity_token %>'
        },
        // success: function (response) {
        //   alert("La pagina è stata salvata.");
        // }
      });
    }

    // document.getElementById( 'notice' ).innerHTML = 'La pagina &egrave; stata salvata.';
    return false;

  }

  function pagePreview() {
    pageSave()
    // disabilita gli editor inline
    for (instance in CKEDITOR.instances) {
      var editor = CKEDITOR.instances[instance];

      if(editor) {
        editor.destroy();
        elemento = document.getElementById(editor.name)

        elemento.setAttribute('contenteditable', false);
      }
    }

    // disabilita i menù contestuali
    $('.columns').each(function () {
      var $this = $(this);
      $this.contextMenu(false);
    });
    $('.columns').removeClass('bordo_layout');

    $('.toolbar').attr('class','toolbar button');
    $('#pagePreview').attr('class','toolbar warning button');
  }

  function inlineEdit() {
    // abilita gli editor inline
    $('.columns').attr('contenteditable', true);
    $('.columns').each(function() {
      CKEDITOR.inline(this);
    });

    // disabilita i menù contestuali
    $('.columns').each(function () {
      var $this = $(this);
      $this.contextMenu(false);
    });
    $('.columns').removeClass('bordo_layout');

    $('.toolbar').attr('class','toolbar button');
    $('#inlineEdit').attr('class','toolbar warning button');
  }

  function layoutDesign() {
    pageSave()
    // disabilita gli editor inline
    for (instance in CKEDITOR.instances) {
      var editor = CKEDITOR.instances[instance];

      editor.destroy();
      elemento = document.getElementById( editor.name )

      elemento.setAttribute( 'contenteditable', false );
    }

    // abilita i menù contestuali
    $('.columns').each(function () {
      var $this = $(this);
      $this.contextMenu(true);
    });
    $('.columns').addClass('bordo_layout');

    $('.toolbar').attr('class','toolbar button');
    $('#layoutDesign').attr('class','toolbar warning button');
  }
</script>