<p id="notice"><%= notice %></p>

<% @page.rows.each do |row| %>
    <div class="<%= "expanded " if row.estesa %>row"<%=
      style = ''
      if row.immagine_sfondo.exists?
        style = "url( #{row.immagine_sfondo.url(:content)} ) no-repeat center top "
      end
      if !row.colore_sfondo.blank?
        style = style + '#' + row.colore_sfondo
      end
      # esperimenti con sfondo sfuocato: va messo in un'immagine sovrapposta allo sfondo
      #if row.immagine_sfondo.exists?
      #  style = style + "; -webkit-filter: blur(100px); -webkit-transform: translate3d(0, 0, 0);"
      #end
      " style='background: #{style}'".html_safe if !style.blank?
      # " style='background: url(/ckeditor_assets/pictures/3/original_13461656733527-0-680x276.jpg) no-repeat center top #005500;'".html_safe if row.estesa
    %>>
      <% row.columns.each do |column| %>
          <div id="editor<%= column.id %>" class="small-<%= column.larghezza %> columns" contenteditable="true">
          <%= column.contenuto.html_safe %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= link_to "Nuova riga", pages_path, class: "small button" %>
      </div>
    </div>
<% end %>

<p>
  <input onclick="salvaPagina();" type="button" class="warning button" value="SALVA LE MODIFICHE" id="salva">
</p>

<script>

  function salvaPagina() {

    for (instance in CKEDITOR.instances) {
      var editor = CKEDITOR.instances[instance]; // CKEDITOR.instances.editor1;
      var data = editor.getData();
      var id = editor.name.substr(6);

      // remember to use encodeURIComponent to properly encode the data that is being sent.
      // document.getElementById( 'editorcontent2' ).innerHTML = data;

      // Send contents to server
      $.ajax({
        url: '/columns/' + id + '/editor_update',
        type: 'POST',
        data: {
          contenuto: data,
          authenticity_token: '<%= form_authenticity_token %>'
        },
        // success: function (response) {
        //   alert("La pagina è stata salvata.");
        // }
      });
    }

    document.getElementById( 'notice' ).innerHTML = 'La pagina &egrave; stata salvata.';
    return false;

  }
</script>