<%= render partial: "cookielaw" %>

<% if !user_signed_in? or policy(@page).edit? %>
<%
  @menu_aggiuntivi = '<li>
          <a id="pagePreview" onclick="pagePreview();" class="toolbar warning button" accesskey="p" title="Page preview: ALT + P"><i class="fi-eye"></i> Preview</a>
        </li>
        <li>
          <a id="pageSave" onclick="pageSave();" class="toolbar button" accesskey="s" title="Salva: ALT + S"><i class="fi-save"></i> Salva</a>
        </li>
        <li>
          <a id="newsEdit" onclick="newsEdit();" class="toolbar button" accesskey="n" title="News: ALT + N"><i class="fi-page"></i> News</a>
        </li>
        <li>
          <a id="inlineEdit" onclick="inlineEdit();" class="toolbar button" accesskey="i" title="Inline edit: ALT + I"><i class="fi-page"></i> Editor</a>
        </li>'.html_safe
  @menu_aggiuntivi += '<li>
          <a id="layoutDesign" onclick="layoutDesign();" class="toolbar button" accesskey="l" title="Layout design: ALT + L"><i class="fi-pencil"></i> Layout</a>
        </li>'.html_safe if current_user && (current_user.designer || current_user.admin)
%>
<% end %>

<%= render partial: "header" %>

<%= render partial: "socialshare" %>

<div class="reveal" id="finestra_modale" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<% if @page.articolo %>
    <% if policy(@page).edit? %>
      <div class="row">
        <div class="column large-12">
          <p></p><p class="text-right">
          <% if @page.visibile %>
            <span class="success label">Pubblicato il <%= @page.published_at.to_s(:data_ora) %></span>
            <%= link_to 'NASCONDI', { controller: "pages", action: "nascondi", id: @page}, class: "tiny alert button" %>
          <% else %>
            <span class="warning label">Al momento non visibile!</span>
            <%= link_to 'PUBBLICA', { controller: "pages", action: "pubblica", id: @page}, class: "tiny button" %>
          <% end %></p>
        </div>
      </div>
    <% end %>
<% elsif user_signed_in? && policy(@page).edit? && !(@page.home || @page.header || @page.footer || @page.modello) %>
  <div class="row">
    <div class="column large-8">
      <nav aria-label="Sei qui:" role="navigation">
        <p></p>
        <ul class="breadcrumbs">
          <li><a href="/">Home</a></li>
          <% if !@page.section.principale %><li><a href="/<%= @page.section.percorso %>"><%= @page.section.titolo %></a></li><% end %>
          <% if !@page.home %>
            <li>
              <span class="show-for-sr">Current: </span> <%= @page.titolo %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="column large-4">
      <p></p><p class="text-right">
      <% if @page.visibile %>
          <%= link_to 'NASCONDI LA PAGINA', { controller: "pages", action: "nascondi", id: @page}, class: "tiny alert button" %>
      <% else %>
          <span class="warning label">Al momento non visibile!</span>
          <%= link_to 'PUBBLICA', { controller: "pages", action: "pubblica", id: @page}, class: "tiny button" %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render 'row0' if user_signed_in? && (current_user.admin? || current_user.section) && !@page.modello && !@page.header && !@page.footer %>

<% @page.rows.order('ordine ASC').each do |row| %>
  <%= render row, :page => @page %>
<% end %>

<%= render partial: "footer" %>

<%= render partial: "editing" %>
