<p id="notice"><%= notice %></p>

<% @page.rows.each do |row| %>
    <div class="<%= "expanded " if row.estesa %>row">
      <% row.columns.each do |column| %>
        <div id="editor<%= column.id %>" class="small-<%= column.larghezza %> columns" contenteditable="true">
          <%= column.contenuto.html_safe %>
        </div>
      <% end %>
    </div>
<% end %>

<p>
  <input onclick="salvaPagina();" type="button" class="warning button" value="SALVA LE MODIFICHE" id="salva">
</p>

<script>

  function salvaPagina() {

    for (instance in CKEDITOR.instances) {
      var editor = CKEDITOR.instances[instance]; // CKEDITOR.instances.editor1;
      var data = editor.getData();
      var id = editor.name.substr(6);

      // remember to use encodeURIComponent to properly encode the data that is being sent.
      // document.getElementById( 'editorcontent2' ).innerHTML = data;

      // Send contents to server
      $.ajax({
        url: '/columns/' + id + '/editor_update',
        type: 'POST',
        data: {
          contenuto: data
        },
        // success: function (response) {
        //   alert("La pagina è stata salvata.");
        // }
      });
    }

    document.getElementById( 'notice' ).innerHTML = 'La pagina &egrave; stata salvata.';
    return false;

  }
</script>