<p id="notice"><%= notice %></p>

<% @page.rows.each do |row| %>
    <div class="<%= "expanded " if row.estesa %>row">
      <% row.columns.each do |column| %>
        <div id="editor<%= column.id %>" class="small-<%= column.larghezza %> columns" contenteditable="true">
          <%= column.contenuto.html_safe %>
        </div>
      <% end %>
    </div>
<% end %>

<div id="editorcontent2">
Sarà sostituito col contenuto dell'editor.
</div>

<p>
  <input onclick="salvaPagina();" type="button" value="SALVA LE MODIFICHE" id="salva">
</p>


<script>

  function salvaPagina() {
    var editor = CKEDITOR.instances.editor1;
    var data = editor.getData();

    // remember to use encodeURIComponent to properly encode the data that is being sent.
    document.getElementById( 'editorcontent2' ).innerHTML = data;

    // Send contents to server
    $.ajax({
      url: '/columns/1/editor_update',
      type: 'POST',
      data: {
        contenuto: data
      },
      success: function(response){
        alert("La pagina è stata salvata.");
      }
    });

    // prevent original click behaviour
    return false;

  }
</script>