<%
  header = @page.trova_header

  footer = @page.trova_footer
%>

<% if header %>
    <% if !user_signed_in? %>
        <div data-sticky-container>
          <div class="sticky" data-sticky data-options="marginTop:0;" style="width:100%; z-index:999;">
    <% end %>
    <%= render(header.rows.order('ordine ASC')) %>
    <% if !user_signed_in? %>
        </div>
        </div>
    <% end %>
<% end %>

<h1>Tag cloud</h1>
<p align="center">
  <%
    # trovo il numero di occorrenze massimo
    max = 0
    @tags.each do |tag|
      logaritmo = Math.log10(tag[1])
      max = logaritmo if logaritmo > max
    end

  %>

<% @tags.each do |tag|
  dimensione = 1 + (5 * Math.log10(tag[1]).to_f / max).round(2)
%>
  <span style="font-size: <%= dimensione %>em;"><a href="/search?q=<%=u tag[0] %>"><%= tag[0].html_safe %></a></span>
<% end %>
</p>

<%= render(footer.rows.order('ordine ASC')) if footer %>