<p id="notice"><%= notice %></p>

<p>
  <strong>Ordine:</strong>
  <%= @area.ordine %>
</p>

<p>
  <strong>Contenuto:</strong>
  <%= @area.contenuto %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
