<p id="notice"><%= notice %></p>

<p>
  <strong>Photoalbum:</strong>
  <%= @photo.photoalbum_id %>
</p>

<p>
  <strong>Immagine:</strong>
  <%= @photo.immagine %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
