<p id="notice"><%= notice %></p>

<h1>Listing Column Images</h1>

<table>
  <thead>
    <tr>
      <th>Descrizione</th>
      <th>Column</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @column_images.each do |column_image| %>
      <tr>
        <td><%= column_image.descrizione %></td>
        <td><%= column_image.column %></td>
        <td><%= link_to 'Show', column_image %></td>
        <td><%= link_to 'Edit', edit_column_image_path(column_image) %></td>
        <td><%= link_to 'Destroy', column_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Column image', new_column_image_path %>
