<!DOCTYPE html>

<html class="no-js" lang="it">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= Rails.configuration.nome_sito %><%=
    if @page
      if @page.home
        if !@page.section.principale
          " - #{@page.section.descrizione}"
        end
      else
        " - #{@page.titolo}"
      end
    end
    %>
  </title>
  <meta name="description" content="<%= if @page && @page.abstract
                                          @page.abstract
                                        else
                                          Rails.configuration.descrizione_sito
                                        end %>">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>

  <% if current_user && (current_user.admin || current_user.section_id) %>
    <%= render partial: "pages/menu" %>
  <% end %>

  <%= yield %>

  <script>
    $(function() {
      $(document).foundation();
      // setTimeout(function() { $(document).foundation('topbar', 'init');}, 250);
    });
  </script>

  <%= Rails.configuration.codice_google_analytics.html_safe %>

</body>
</html>