<!DOCTYPE html>

<html class="no-js" lang="it" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%=
    nome_sito = Rails.configuration.nome_sito
    if @page
      if @page.home
        if !@page.section.principale
          titolo = @page.section.descrizione
        end
      else
        titolo = @page.titolo
      end
      immagine_social = @page.trova_immagine_social

      if @page && @page.abstract
        descrizione = @page.abstract
      else
        descrizione = Rails.configuration.descrizione_sito
      end
    end

    if @photoalbum
      titolo = @photoalbum.titolo
      immagine_social = @photoalbum.trova_immagine_social
      descrizione = 'Guarda tutte le foto!'
    end

    titolo ||= nome_sito

    %></title>
  <meta property="og:title" content="<%= titolo %>" />
  <meta property="og:type" content="website" />
  <meta name="description" content="<%= descrizione %>">
  <meta property="og:description" content="<%= descrizione %>">
  <% if immagine_social %>
  <meta property="og:image" content="<%= 'http://' + Rails.configuration.action_mailer.default_url_options[:host] + immagine_social %>" />
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>

  <% if current_user # && (current_user.admin || current_user.section_id) %>
    <%= render partial: "pages/menu" %>
  <% end %>

  <%= yield %>

  <script>
    // attenzione: la seguente modalità per lanciare Foundation crea problemi:
    // $(function() {
    //   $(document).foundation();
    //   // setTimeout(function() { $(document).foundation('topbar', 'init');}, 250);
    // });
    $(document).foundation();
  </script>

  <%= Rails.configuration.codice_google_analytics.html_safe %>

</body>
</html>