<!DOCTYPE html>

<html class="no-js" lang="it">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Dbwebcore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
  <link rel="stylesheet" href="/css/jQuery-contextMenu.css" />

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/js/vendor/what-input.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/jQuery-contextMenu.js"></script>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>

  <script>
    $(function() {
      $(document).foundation();
    });
  </script>

  <%= yield %>

</body>
</html>