<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Dbwebcore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/css/foundation.css" />
</head>
<body class='<%= controller.controller_name %>'>

<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/what-input.min.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

<%= yield %>

</body>
</html>