<%= form_for(@row) do |f| %>
  <% if @row.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@row.errors.count, "error") %> prohibited this row from being saved:</h2>

      <ul>
      <% @row.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ordine %><br>
    <%= f.number_field :ordine %>
  </div>
  <div class="field">
    <%= f.label :colore_sfondo %><br>
    <%= f.text_field :colore_sfondo %>
  </div>
  <div class="field">
    <%= f.check_box :estesa %>
    <%= f.label :estesa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('#row_colore_sfondo').colorpicker({
      parts:  [   'map', 'bar'
      ],
      alpha:  true,
    });
</script>