<div id="row<%= row.id %>" class="<%= "expanded " if row.estesa %>collapse row" <%=
  style = ''
  if row.immagine_sfondo.exists?
    style = "url( #{row.immagine_sfondo.url(:content)} ) center top "
  end
  if !row.colore_sfondo.blank?
    style = style + '#' + row.colore_sfondo
  end
  # esperimenti con sfondo sfuocato: va messo in un'immagine sovrapposta allo sfondo
  #if row.immagine_sfondo.exists?
  #  style = style + "; -webkit-filter: blur(100px); -webkit-transform: translate3d(0, 0, 0);"
  #end
  " style='background: #{style}'".html_safe if !style.blank?
  # " style='background: url(/ckeditor_assets/pictures/3/original_13461656733527-0-680x276.jpg) no-repeat center top #005500;'".html_safe if row.estesa
%>>
  <% row.columns.order('ordine ASC').each do |column| %>
      <% if column.column_images.count == 0 %>
          <div class="large-<%= column.larghezza %> columns" style="position: relative;">
            <div id="editor<%= column.id %>" class="inline-editor" contenteditable="false">
              <%= column.contenuto.html_safe %>
            </div>

            <div class="gestione-immagini"><button onclick="aggiungiImmagine(<%= column.id %>);"><i class="fi-plus"></i></button></div>
          </div>
      <% elsif column.column_images.count == 1 %>
          <div id="image_<%= column.id %>" class="large-<%= column.larghezza %> columns" style="position: relative;">
            <%= image_tag(column.column_images.first.immagine.url(:content), style: 'width: 100%;') %>

              <%= if column.column_images.first.descrizione.length > 0 then
                    "<figcaption class='orbit-caption'>#{ column.column_images.first.descrizione.html_safe }</figcaption>".html_safe
                  end
              %>

            <div class="gestione-immagini"><button onclick="aggiungiImmagine(<%= column.id %>);"><i class="fi-plus"></i></button> <button onclick="modificaImmagine(<%= column.column_images.first.id %>);"><i class="fi-pencil"></i></button> <button onclick="eliminaImmagine(<%= column.column_images.first.id %>);"><i class="fi-x"></i></button></div>
          </div>
        <% else %>
          <div id="slider<%= column.id %>" class="large-<%= column.larghezza %> columns" style="position: relative;">
            <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                <ul class="orbit-container">
                  <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                  <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                  <% column.column_images.each do |column_image| %>
                      <li class="is-active orbit-slide">
                        <img src="<%= column_image.immagine %>" class="orbit-image">

                        <%= if column_image.descrizione.length > 0 then
                              "<figcaption class='orbit-caption'>#{ column_image.descrizione.html_safe }</figcaption>".html_safe
                            end
                        %>

                        <div class="gestione-immagini"><button onclick="aggiungiImmagine(<%= column.id %>);"><i class="fi-plus"></i></button> <button onclick="modificaImmagine(<%= column_image.id %>);"><i class="fi-pencil"></i></button> <button onclick="eliminaImmagine(<%= column_image.id %>);"><i class="fi-x"></i></button></div>
                      </li>
                  <% end %>
                </ul>
            </div>
          </div>
        <% end %>
  <% end %>
</div>
